# Credenciales de acceso a la interfaz web
N8N_BASIC_AUTH_USER=user
N8N_BASIC_AUTH_PASSWORD=password

# Volumenes personalizados
CHROMA_DATA_PATH=/home/user/chroma
N8N_FLOWS_PATH=/home/user/flows

# Zona horaria (ajústala, ej: Europe/Madrid, America/New_York)
TZ=UTC

# --- CONFIGURACIÓN POSTGRES ---
POSTGRES_USER=n8n_user
POSTGRES_PASSWORD=n8n_password_segura
POSTGRES_DB=n8n
# La ruta donde se guardarán los datos de la base de datos en tu disco duro
POSTGRES_DATA_PATH=./postgres_data